/*-----------------------------------------------------------------------------------*/
/*  Aout-me
/*-----------------------------------------------------------------------------------*/

#about {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    padding-top: 190px;
  }
  
.Me {
  /* float: left; */
  /* padding-right: 3em; */
  margin-top:-10em;
  padding-top: -5em;
  padding-left:3em;
}
.Skill{
  /* float: right; */
  padding-left: 15em;

}
.intro{
  padding-bottom: 10em;
  display:inherit;
  text-align: center;
  font-size: 15px;
  font-weight: 800;
}
.own{
  text-align:center;
}
.pay{
  padding-top: 15px;
}