#profileRoom{
padding-top:40px;
padding-left: 90px;
padding-right: 90px;
position: relative;
}
.room_img{
    max-height: 400px;
    width: auto;
    position: relative;
}
.detailTitle{
    padding-top: 12px;
    font-size: 20px;
    color:rgb(72, 72, 72);
    font-weight: 800;
}
.detailPrice{
    padding-top: 10px;
}
.detailLabel{
    font-size: 15px;
    color:#D4AF37;
    font-weight: 800;
}
.roomDescription{
    font-size: 10px;

}