.around {
    padding-top:20px;
    padding-left:200px;
    margin-bottom:-90px;
    position: relative;
}
.around-text{
    color:black;
    font-size: 18px;
}
.landingRooms{
    text-align: center;
    position: relative;
}
